@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}



